.header__logo {
  margin: 0 0 41px 0;
  padding: 0;
  max-width: 142px;
}

@media screen and (max-width: 650px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31px;
    max-width: 104px;
  }
}