.popup__error {
  margin: 5px auto 0 auto;
  padding: 0;
  display: block;
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F00;
  text-align: left;
  min-height: 30px;
}

@media screen and (max-width: 560px) {
  .popup__error {
    width: 238px;
  }
  .popup__error:last-of-type {
    margin-bottom: 10px;
  }
}