.popup__button-close {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close-btn.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border: none;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}