.element {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-rows: 282px calc(100% - 282px);
  grid-template-areas: 
  "photo photo"
  "title like";
  gap: 0 30px;
  z-index: 0;
}