.form__button-submit {
  margin: 203px 0 0 0;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  min-height: 50px;
}

.form__button-submit:hover {
  cursor: pointer;
  opacity: .6;
}